<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>接口启动</title>
  <style>
    body{
      padding: 0;
      margin: 0;
      height: 100vh;
      display: flex;
    }
    .wrap{
      width: 200px;
      height: 100px;
      line-height: 100px;
      border-radius: 5px;
      margin: auto;
      background-color: crimson;
      text-align: center;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="wrap">接口启动中...</div>
</body>
</html>